<tr data-component="search">
  <td><%= link_to row.name, edit_search_path(row) %></td>
  <td data-cell="keywords">
    <%= row.keywords %>
  </td>
  <td>
    <%= row.include_description ? 'Yes' : 'No' %>
  </td>
  <td><%= row.category.presence || 'Any' %></td>
  <td><%= row.formatted_condition.presence || 'Any' %></td>
  <td><%= row.postal_code %></td>
  <td><%= row.formatted_listing_type.presence || 'All' %></td>
  <td>
    <%= number_to_currency(row.price_min).presence || '&mdash;'.html_safe %>
  </td>
  <td>
    <%= number_to_currency(row.price_max).presence || '&mdash;'.html_safe %>
  </td>
  <td>
    <%= number_to_currency(row.best_offer_max).presence || '&mdash;'.html_safe %>
  </td>
</tr>